@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        @apply font-body;
    }

    h1,
    h2,
    h3 {
        @apply font-display text-gray-800 font-medium;
    }
    .anchor-hover{
        @apply border-b border-dotted hover:border-solid hover:border-slate-400
    }
    .gradient-hover-outer{
        @apply p-[1px] bg-slate-200 hover:bg-gradient-to-br hover:from-red-200 hover:via-purple-200 hover:to-yellow-200;
    }
    .gradient-hover-inner{
        @apply group-hover:bg-gradient-to-br group-hover:from-red-50 group-hover:via-purple-50 group-hover:to-yellow-50 bg-slate-100;
    }
}